@import "tailwindcss";

@font-face {
  font-family: paragraph;
  src: url(/fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: heading;
  src: url(/fonts/Butler_Bold.otf);
}
@font-face {
  font-family: head;
  src: url(/fonts/batmfa__.ttf);
}

:root {
  --bg-color: #050109;
  --pink-color: #ce7da5;
  --green-color: #dff3e3;
  --orange-color: #ffd1ba;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.38) 0.5px,
      transparent 0.5px
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.38) 0.5px,
      transparent 0.5px
    );
  background-size: 30px 30px;
  background-color: #050109;
  color: white;
}
